<br />

<div class="booyah-box col-10 offset-1 text-center img-center">
    <h1>
    We have a career for you!
  </h1>
 <h2>
 Contact us to join the team!
 </h2>
 <%= image_tag 'cat_movie.jpg' %>

 <p class= "italic"> Black Cat Enterprises is an Equal Opportunity Cat Employer. BCE does not discriminate on the basis of race, religion, fur color, sex, gender identity, sexual orientation, age, non-disqualifying physical or mental disability, national origin, veteran status or any other basis covered by appropriate cat law.
</p>

</div>
