<div class="frosty text-center">
  <br />
  <div class= "booyah-box col-8 offset-2">
    <h1>A place to teach your humans!</h1>
    <h2>Feeling frisky?</h2>
    <h2>Purr-haps you can learn too!</h2>
    <br />
     <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br />
     <br />
  </div>
    <div class="row text-center bold feature">
      <div class= "col-sm-4 col-12">
        <div class="booyah-box opa col-12 col-sm">
          <h2>Purrfect Courses</h2>
          <br />
          <h4>Choose from any number of courses to teach your humans with or learn cool tricks yourself.</h4>
          <br />
        </div>
      </div>
      <div class= "col-sm-4 col-12">
        <div class="booyah-box  opa col-12 col-sm">
          <h2>Humans Are Slow--Let Them Learn At Their Own Pace</h2>
          <br />
          <h4>Enroll and access a courses archive of lessons. Payments available in cans of tuna or human money (just steal their plastic cards)!</h4>
          <br />
        </div>
      </div>
      <div class= "col-sm-4 col-12">
        <div class="booyah-box opa col-12 col-sm">
          <h2>Join the KitKit Community</h2>
          <br />
          <h4>Learn and grow with a community of like-minded cat leaders. The paw-sibilities are endless!</h4>
          <br />
        </div>
      </div>

  </div>
</div>



