@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700|Open+Sans:400,400i,700&display=swap');
@import "font-awesome";


.modal-title {
  color:black;
  font-family: 'Merriweather', serif;
}

.modal-body {
  color: black;
  font-family: 'Merriweather', serif;
}
.navbar {
  font-family: 'Merriweather', serif;
  font-weight: 200;
  box-shadow: 0px 3px 8px #8f8f8f;
  margin-bottom: 10px;
}

.underline {
  text-decoration: underline;
}
.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.smallerText {
  font-size: 30px;
}

.pad_left {
  padding-left: 40px;
}
.pad_left_lg {
  padding-left: 80px;
}

.evenSmallerText {
  font-size: 20px;
}
.italic {
  font-style: italic;
}

.stripe-button-el span{
  font-size: 20px !important;
}

.bold {
  font-weight: bold;
}
.clr {
  clear: both;
}

.navbar a.navbar-brand {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 30px;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background:rgba(255, 255, 255, 0.589);
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Merriweather', serif;
  color: black;
  border-radius: 5px;
}

.opa {
  background: rgba(255, 255, 255, 0.815);
}

.booyah-box .booyah-box-item {
  border: 1px solid black;
  margin-bottom: 15px;
  background: rgba(255, 255, 255, 0.562);
}
.thick_hor {
  border-style: none;
  height: 5px;
  background-color: black;
  color: black;
}
.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}
.img-center {
  margin: auto;
  display: block;
}
.left {
  margin-left: 0;
  display: block;
}

.inline {
  display: inline-block;
}

.lessons li p {
  margin: 0;
}

.lessons li b {
  font-size: 25px;
  font-weight: 100;
}

.lesson_li {
  list-style-type: none;
  background: black;
  color: white;
  margin: 10px;
  font-family: 'Merriweather', serif;
  font-weight: 100;
  padding: 8px;
  font-size: 15px;
}
.section-li {
  border: 1px solid;
  border-color: #000000;
  padding: 10px;
  background: white;
  list-style-type: none;
  margin: 20px;
  cursor: pointer;
}


body {
  background: image_url('cat_movie2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.hero {
  background-color: rgba(255, 255, 255, 0.5);
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
  color: black;
  margin-top: 10px;

}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.booyah-box h2,
.booyah-box h1 {
  margin: 10px;
  margin-inline-start: 0em;
}


.form-check-input {
  margin-left: 0;
}

html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar {
  margin: 0;
}

.frosty h1 {
  font-family: 'Merriweather', serif;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: 'Merriweather', serif;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.badge-info {
 color: black;
}

.badge_cost {
  font-size: 150%;
}


.btn {
  border-radius: 0;
 }

.btn_admin {
  margin-top: 20px;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 210px;
}
.pad-left {
  padding-left: 30px;
}
ul {
  list-style-position: inside;
}

.list {
  list-style-position: inside;
}

.border-left {
  border-left-width: 10px;
  border-left-color: grey;
  border-left-style: solid;
}

.lesson a b {
  font-weight: 100;
  font-size: 25px;
}

.lesson a {
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  font-size: 15px;
}

.lesson {
  background-color: black;
  margin-top: 10px;
  height: 130px;
  color:white;
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}


