@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700|Open+Sans:400,400i,700&display=swap');

.navbar {
  font-family: 'Merriweather', serif;
  font-weight: 200;
  box-shadow: 0px 1px 3px #dbd1d1;
}

.navbar a.navbar-brand {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 40px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: image_url('movie.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}


